#container {
    position: relative;
    background-color: black;
    background-image: url(../images/zombie-background-road.png);
    background-repeat: no-repeat;
    height: 65vh;
    width: 50vw;
    margin: 5rem;
    padding-bottom: 5rem;
}

.player {
    position: absolute;
    background-image: url(../images/Louise-trimmy-right.png);
    background-repeat: no-repeat;
}

.zombieMark{
    position: absolute;
    background-image: url(../images/mark-right.png);
    background-repeat: no-repeat;
}

.zombieKaren{
    position: absolute;
    background-image: url(../images/karen-left.png);
    background-repeat: no-repeat;
}

.bullet{
    position: absolute;
    background-color: rgb(219, 97, 15);
}