body{
    background-image: url(../images/body-background.jpg);
    background-repeat: no-repeat;
    font-family: 'Creepster', cursive;
    z-index: -5;
}

#container {
  position: relative;
  background-color: black;
  background-image: url(../images/zombie-background-road.png);
  background-repeat: no-repeat;
  width: 50%;
  margin: 5rem;
  margin-left: 15rem;
  padding-bottom: 45rem;
  border: 5px solid black;
  z-index: 1;
}

#start-container {
  position: relative;
  background-image: url(../images/start-background.jpg);
  background-repeat: no-repeat;
  width: 30%;
  margin: 5rem;
  margin-left: 20em;
  padding: 3rem;
  border: 5px solid black;
  z-index: 1;
}

#start-text{
  position: relative;
  padding-top: 2rem;
  font-size: 1rem;
  text-align: center;
  text-shadow: 1px 1px #c5070794;
  padding-bottom: 2rem;
}

button {
  position: relative;
  left: 30%;
  margin-top: 3rem;
  text-align: center;
}

#ready-player-one {
  font-size: 2em;
  background: black;
  text-align: center;
  font-family: Creepster;
  color: red
}

#healthBar {
  position: absolute;
  background-color: green;
  height: 3vh;
  width: 15vw;
}

span {
  position: absolute;
  margin-left: 90%;
  font-size: 2.5em;
  background-color: grey;
}

.player {
  position: absolute;
  background-image: url(../images/Louise-trimmy-right.png);
  background-repeat: no-repeat;
  z-index: 2;
}

.playerLeft {
  position: absolute;
  background-image: url(../images/Louise-trimmy-left.png);
  background-repeat: no-repeat;
  z-index: 5;
}

.playerRight {
  position: absolute;
  background-image: url(../images/Louise-trimmy-right.png);
  background-repeat: no-repeat;
  z-index: 5;
}

.zombieMark {
  position: absolute;
  background-image: url(../images/mark-right.png);
  background-repeat: no-repeat;
}

.zombieMarkLeft {
    position: absolute;
    background-image: url(../images/mark-left.png);
    background-repeat: no-repeat;
  }

.zombieKaren {
  position: absolute;
  background-image: url(../images/karen-left.png);
  background-repeat: no-repeat;
}

.zombieJay {
  position: absolute;
  background-image: url(../images/Jay.png); 
  background-repeat: no-repeat;
}

.bullet {
  position: absolute;
  background-color: black;
}

.water {
  position: absolute;
  background-image: url(../images/water.png);
  background-repeat: no-repeat;
}

.medkit {
  position: absolute;
  background-image: url(../images/medkit.png);
  background-repeat: no-repeat;
}

.parts {
  position: absolute;
  background-image: url(../images/parts.png);
  background-repeat: no-repeat;
}

.bloodSplat{
  position: absolute;
  background-image: url(../images/bloodsplat.png);
  background-repeat: no-repeat;
  z-index: -1;
}

#info {
    position: absolute;
    left: 60%;
    background-color: black;
    background-image: url(../images/info-background.jpg);
    background-repeat: no-repeat;
    width: 20%;
    margin: 5rem;
    margin-left: 15rem;
    padding-bottom: 5rem;
    border: 5px solid black;
}

h2 {
    font-size: 5em;
    text-shadow: 1px 1px #FF0000;
    text-align: center;
}

h3 {
    font-size: 2em;
    text-shadow: 1px 1px #FF0000;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
}

h4 {
    font-size: 1.5em;
    text-shadow: 1px 1px #c5070794;
    text-align: center;
}

h5{
    font-size: 1.5em;
    text-shadow: 1px 1px #c5070794;
    text-align: center;
}


#levelup-container {
  position: absolute;
  background-image: url(../images/start-background.jpg);
  background-repeat: no-repeat;
  width: 30%;
  margin: 5rem;
  margin-left: 20em;
  padding: 3rem;
  border: 5px solid black;
  z-index: 3;
  display: none;
}

#next-level {
  font-size: 2em;
  background: black;
  text-align: center;
  font-family: Creepster;
  color: red
}